*{
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}
body{
    background-color: rgb(216, 205, 191);
    border: 2px solid;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(82, 36, 126);
}
fieldset{
    border: 3px solid;
    opacity: 0.9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#b{
    text-align: center;
    color: black;
}